In [4]:
t1 = (1001, 'name', 72, 90)

In [5]:
t1

(1001, 'name', 72, 90)

In [6]:
t1[1]

'name'

In [7]:
t1[2:]

(72, 90)

In [ ]:
t2 = (321, 654, 987987)

In [22]:
def averageLinear(t):
    sum=0
    for i in range(0,len(t)):
        sum +=t[i]
    return sum/len(t)
li = [876, 877, 1178, 1179]

averageLinear(li)

1027.5

In [18]:
import pandas as pd

xyz_web = {'Day':[1,2,3,4,5,6],'visitors':[1000,450,6000,350,1000,600],'Bounce_Rate':[20,20,26,15,10,35]}
df = pd.DataFrame(xyz_web)

print(df)

   Day  visitors  Bounce_Rate
0    1      1000           20
1    2       450           20
2    3      6000           26
3    4       350           15
4    5      1000           10
5    6       600           35

In [19]:
print(df.head(2))

   Day  visitors  Bounce_Rate
0    1      1000           20
1    2       450           20